name: Validate Qualification Plan

on: 
  [push, pull_request]

permissions:
  contents: read

jobs:
  Validate-Qualification-Plan:
    uses: Open-Systems-Pharmacology/Workflows/.github/workflows/ValidateQualificationPlan.yml@main
    with:
      qualification-plan: 'Qualification/input/qualification_plan.json'
